.loginpage{
    border-radius: 25px;
    justify-content: center;
    align-items: center;
     min-height: 100%;
    font-weight: bold;
    font-size: 23px;
    background:lightgoldenrodyellow;
    margin-left:20px;
    margin-right:20px;
    width: 400px;
    box-sizing: border-box;
    display: grid;
    padding:20px;
}
 
.username-input{
    border: 1px solid #36acf4;
    padding: 11px;
    height: 21px;
    margin: 11px;
    border-radius: -16px;
    width: 307px;
   
}
 .username-label{
    margin: -5px;
    border: 72px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    padding left:20px;
    padding: 20px;
}
 .password-label{
    margin: -5px;
    border: 72px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    padding: 20px; 
 }
 .password-input{
    border: 1px solid #36acf4;
    padding: 11px;
    height: 21px;
    margin: 11px;
    border-radius: -16px;
    width: 307px;
 }
    .submit-button{
    background: #e6e8e9;
    color: rgb(60 64 68);
    font-size: 20px;
    font-weight: bold;
    border: 63px;
    border-radius: 4px;
    width: 100%;
    height: 41px;
}

h1{
    text-align: center;    
}
body{
    background-color: #ebf1f3;
    place-items: center;
    display: grid;  
    justify-content: center;
}
