.loginpage{
    border-radius: 25px;
    margin: 100px;
    border: 10px solid rgb(233, 208, 208);
    font-weight: bold;
    font-size: 23px;
    background-color: #ebf1f3;
  
    width:399px;
    box-sizing: border-box;
}
 
.username-input{
    border: 1px solid #36abf4;
    padding: 12px;
    height: 19px;
    margin: 11px;
    border-radius: 3px;
    width: 200px; 
}
 .username-label{
    margin: -5px;
    border: 72px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    font-size: 28px;
    font-weight: bold;
    padding:20px;
}
 .password-label{
    margin: -5px;
    border: 72px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    font-size: 28px;
    font-weight: bold;
    padding: 20px; 
 }
 .password-input{
    border: 1px solid #36acf4;
    padding: 12px;
    height: 19px;
    margin: 11px;
    border-radius: 3px;
    width: 200px;
 }
    .submit-button{
    background: white;
    color: rgb(53 76 90);
    font-size: 24px;
    font-weight: bold;
    border: 25px;
    border-radius: 0px;
    width: 98%;
    height: 46px;
}

h1{
    text-align: center; 
}