.loginpage{
    border-radius: 25px;
    margin: 100px;
    border: 10px solid red;
    font-weight: bold;
    font-size: 23px;
    background-color: #78a6b6;
    text-align: center;
    width:300px;
    box-sizing: border-box;
}
 
.username-input{
    border: 4px solid #F44336;
    padding: 10px;
    height: 20px;
    margin: 10px;
    border-radius: 20px;
}
.username-label{
    margin: -5px;
    border: 72px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    font-size: 28px;
    font-weight: bold;
}
 .password-label{
margin: -5px;
    border: 72px;
    height: 20px;
    text-align: center;
    border-radius: 20px;
    font-size: 28px;
    font-weight: bold;
 }
 .password-input{
  border: 4px solid #F44336;
    padding: 10px;
    height: 20px;
    margin: 10px;
    border-radius: 20px;
 }
    .submit-button{
    background: white;
    color: rgb(53 76 90);
    font-size: 24px;
    font-weight: bold;
    border: 25px;
    border-radius: 0px;
    width: 98%;
    height: 46px;
}

